
*.o
*.la
*.lo
*.a
.*project
.settings
*.orig
run-auto-test
run-auto-test.c
run-auto-test.h
*.stamp
*~
*.bak
*.tmp
*.prj
*.pws
*.anjuta
*.tar.gz
.*project
.settings
*.orig
*.stamp
.deps
.libs

# /
/stamp-*
/Makefile
/Makefile.in
/compile
/ABOUT-NLS
/aclocal.m4
/autom4te.cache
/confdefs.h
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.status.lineno
/config.sub
/configure
/INSTALL
/install-sh
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in
/libtool
/ltconfig
/ltmain.sh
/missing
/mkinstalldirs
/obj
/gnome-keyring-ask
/gnome-keyring-daemon
/list-keyrings
/test-keyring
/test-keyring-two
/gnome-keyring-1.pc
/gnome-keyring-1-uninstalled.pc
/gtk-doc.make
/depcomp
/junk
/TODO.tasks

# /docs
/docs/Makefile
/docs/Makefile.in

# /docs/reference
/docs/reference/Makefile
/docs/reference/Makefile.in

# /docs/reference/gnome-keyring
# Commit these files if you edit them
/docs/reference/gnome-keyring/*-decl-list.txt
/docs/reference/gnome-keyring/*-decl.txt
/docs/reference/gnome-keyring/*-undeclared.txt
/docs/reference/gnome-keyring/*-undocumented.txt
/docs/reference/gnome-keyring/*-unused.txt
/docs/reference/gnome-keyring/*.args
/docs/reference/gnome-keyring/*.hierarchy
/docs/reference/gnome-keyring/*.interfaces
/docs/reference/gnome-keyring/*.prerequisites
/docs/reference/gnome-keyring/*.signals
/docs/reference/gnome-keyring/Makefile
/docs/reference/gnome-keyring/Makefile.in
/docs/reference/gnome-keyring/html
/docs/reference/gnome-keyring/xml
/docs/reference/gnome-keyring/tmpl

# /egg
/egg/Makefile
/egg/Makefile.in

# /egg/tests
/egg/tests/Makefile
/egg/tests/Makefile.in

# /library
/library/*.pc
/library/Makefile
/library/Makefile.in

# /library/tests
/library/tests/Makefile
/library/tests/Makefile.in
/library/tests/test-prompting

# /po
/po/*.gmo
/po/*.mo
/po/*.pot
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/POTFILES
/po/po2tbl.sed
/po/po2tbl.sed.in
/po/cat-id-tbl.c
/po/stamp-cat-id
/po/stamp-it
/po/messages
/po/missing
/po/.intltool-merge-cache

# /tests
/tests/Makefile
/tests/Makefile.in

